html{
    height: -webkit-fill-available;
	height: -moz-available;
    justify-content: center;
    background-color: #2d3436;
    background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%);
}

.inner {
    display: flex;
    flex-direction: column;
    padding: 20px;
    text-align: center;
    width: 80rem;
    margin: 20% auto auto auto;
    max-width: 90%;
    background: rgba(255, 255, 255, 0.95);
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
    border-radius: 4px;
}

.header {
    text-align: center;
    font-weight: 900;
    font-size: 25px;
    padding: 20px;
}

.image.main {
			display: block;
			margin: 0 0 3rem 0;
			width: 100%;
		}

.formFooter{
    padding: 20px;
    width: inherit;
    flex-direction: row;
    display: flex;
}
.isSection{
width: 50%;
}

#commentField{
width: 100%;
}


.btn {
    background: #222;
    min-width: 150px;
    border: none;
    border-radius: 10px;
    color: #eee;
    font-size: 20px;
    position: relative;
    transition: 1s;
    -webkit-tap-highlight-color: transparent;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 5px 50px;
    text-decoration: none;
}
